<div class="container">
  <app-shared-header></app-shared-header>
  <div class="login">
    <app-login></app-login>
  </div>
</div>

<!-- Angular material multiple themes be able to use the global variables at runtime (https://material.angular.io/guide/theming#defining-a-custom-theme https://medium.com/grensesnittet/dynamic-themes-in-angular-material-b6dc0c88dfd7)-->
<!-- Make a fake json server with user register and login -->
<!-- Implement NgRx for login, use normal, entity, and data with ngrx -->
<!-- https://ngrx.io/resources -->
<!-- https://github.com/tomastrajan/angular-ngrx-material-starter -->
<!-- Make guard work with NgRx -->
<!-- Write tests for NgRx -->
