<div class="container">
  <app-login></app-login>
</div>

<!-- Angular material multiple themes be able to use the global variables at runtime (https://material.angular.io/guide/theming#defining-a-custom-theme)-->
<!-- Make a fake json server with user register and login -->
<!-- Implement NgRx for login, use normal, entity, and data with ngrx -->
<!-- https://ngrx.io/resources -->
<!-- https://github.com/tomastrajan/angular-ngrx-material-starter -->
<!-- Make guard work with NgRx -->
<!-- Write tests for NgRx -->
