@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat',
);

@include mat-core($custom-typography);

/* ======== angular material custom theme, arguments: (palette/default/light/dark) ======== */
// Base theme
$theme-primary: mat-palette($mat-blue, 700);
$theme-accent: mat-palette($mat-indigo, 700);
$theme-warn: mat-palette($mat-red);

.theme-light {
  // Light theme
  $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

  @include angular-material-theme($theme);
}

.theme-dark {
  // Dark theme
  $theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

  @include angular-material-theme($theme);
}
